<p>
  <strong>Верхние места:</strong>
  <%= @wagon.top_seats %>
</p>
<p>
<strong>Нижние места:</strong>
  <%= @wagon.bottom_seats %>
</p>
<p>
  <strong>Верхние боковые места:</strong>
  <%= @wagon.side_top_seats %>
</p>
<p>
<strong>Нижние боковые места:</strong>
  <%= @wagon.side_bottom_seats %>
</p>
