<p>Привет, <%= @user.email %></p>
<p>Вы купили билет на маршрут <%= @ticket.route_name %></p>
<p>Посмотреть билет Вы можете <%= link_to "тут", @ticket %> </p>
<p> Все свои билеты Вы можете посмотреть <%= link_to 'здесь', tickets_url %></p>
